#masthead, #colophon {
	background-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

body.woocommerce #primary {
    float: none;
    width: 100%;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
    color: black;
}

/* Header */

/* Header Nav */
.menu {
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    margin: auto;
}

.menu-item {
    font-weight: 700;
}

.nav__personal {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    margin-left: auto;
    position: relative;
}

.personal__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90px;
    width: 100%;
}
.account__img {
    height: 8px;
}

.account__line {
    height: 20px;
    width: 1px;
    background-color: black;
}

.personal__img {
    height: 20px;
}

.nav__search {
    position: absolute;
    top: 100%;
    left: 0;
    width:100%;
    transition: all .2s ease;
    height: 0;
    overflow: hidden;
}

.nav__search_open {
    height: auto;
}

.personal__search {
    cursor: pointer;
}

.personal__cart {
    position: relative;
}

.personal__cart_count {
    min-width: 24px;
    border-radius: 50%;
    background-color: #CC4798;
    color: white;
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 7px;
    text-align: center;
}

/* Top banners */

.slider__nav {
    transition: all .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 50px;
    opacity: 0;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.sl1_next, .sl1_prev {
    margin-top: 15px;
    height: 96%;
}

.slider__nav:hover {
    opacity: .2;
}

.slider__box {
    position: relative;
}

.col-md-8 .slider__box {
    top: -15px;
}

.slider__nav_next {
    top: 0;
    right: 0;
}

.slider__nav_prev {
    top: 0;
    left: 0;
}

.slider__arrow_prev, .slider__arrow_next {
    cursor: pointer;
    height: 30px;
}

.slider__arrow_prev {
    transform: rotate(180deg);
}

/* Footer */
.footer__socials {
    max-width: 205px;
    margin-left: auto;
}

.footer__menu {
    margin-left: 35%;
}

/* Single product */
.single-product div.product .woocommerce-product-gallery {
    margin-bottom: 0;
}

.single-product div.product .woocommerce-product-gallery a > img {
    width: 75%;
    margin-left: auto;
}


.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    display: none;
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 60%;
}


/* Catalog */

ul.products {
    margin-left: -15px;
}
.product__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}

.onsale {
    position: absolute;
    top: 10px;
    left: 35px;
    background-color: red;
    color: white;
    padding: 3px 5px;
    font-weight: 400;
    opacity: 0.7;
}

.woocommerce-loop-product__title {
    font-size: 18px;
}

.woocommerce-LoopProduct-link, .size-woocommerce_thumbnail {
    width: 100%;
    max-width: 251px;
}

/*.product__attributes {*/
    /*position: relative;*/
    /*bottom: 1px;*/
/*}*/

.attr__buy {
    display: flex;
    flex-direction: column-reverse;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    z-index: 5;
    width: 251px;
    background-color: white;
}

.product__item:hover .attr__buy, .product__item:hover a.woocommerce-loop-product__link  {
    height: auto;
    outline: 1px solid #CC4798;
}

.product__item {
    margin-top: 20px;
}

.add_to_cart_button {
    background-color: #CC4798;
    color: white;
}


/* Main-blog */

.main-blog > div {
    margin-top: 50px;
}

.main-blog {
    position: relative;
}

.main-blog__info {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-blog__slider .main-blog__slider_item {
    display: flex;
    justify-content: space-around;
}

.main-blog__slider {
    position: relative;
}

.main-blog__info_title {
    font-size: 24px;
    font-weight: 700;
}

.main-blog__info_text {
    font-size: 18px;
}

.main-blog__info_read {
    margin-top: 35px;
}

.main-blog__info_read, .main-blog__callme_button, .main-blog__subscribe_button {
    padding: 13px 32px;
    border: 1px solid #CC4798;
    max-width: 215px;
    text-align: center;
    color: #CC4798;
}


.main-blog__callme {
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    background-color: #FBFBFB;
}


.main-blog__subscribe {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-blog__article {
    border: 1px solid #CC4798;
}

.main-blog__article_img {
    margin-left: auto;
}

input.main-blog__subscribe_input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid black;
    max-width: 165px;
    padding: 0;
}

input.main-blog__subscribe_input:focus {
    background-color: transparent;
}


/* Cart page */
.cart_item td, .wishlist_table td {
    vertical-align: middle;
}

table.cart td.product-thumbnail {
    padding: 0;
}

table.cart .product-thumbnail img {
    max-width: 6em;
}


/* Favorite product */
.yith-wcwl-add-to-wishlist {
    position: absolute;
    top: -10px;
    right: 33px;
}

.add_to_wishlist {
    position: absolute;
    background: url("../images/favorite.svg") no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
}

/**/

/**/

/* Woocommerce */
.woocommerce-pagination {
    padding: 0;
}

.storefront-breadcrumb {
    margin: 0;
}

.site-main ul.products li.product {
    margin: 0;
    float: none;
}



/* Some fixes */
.form-row {
    display: block;
}

.col-1, .col-2 {
    max-width: 100%;
}


/* Filters */
#main .filters:nth-child(5) {
    display: none;
}

.woocommerce-result-count, .select2-selection {
    display: none!important;

}

span.select2, .woocommerce-pagination {
    display: none;
}

select.select2-hidden-accessible {
    width: 100%!important;
    height: auto!important;
    position: static!important;
}

.orderby, .dropdown_product_cat, select.select2-hidden-accessible, .price-filter {
    border: none;
    border-bottom: 1px solid black!important;
}

.dropdown_product_cat:focus, .storefront-sorting select:focus {
    outline: none;
}

.storefront-sorting select {
    width: 100%;
}

.widget select {
    width: 100%;
}

.widget_price_filter {
    transition: all .4s ease;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 90%;
    z-index: 1;
    background-color: white;
}

.widget_open {
    height: 79px;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    margin-top: 10px;
}

.button {
    background-color: #CC4798;
}

.lmp_button {
    margin-top: 50px!important;
    border: 1px solid #CC4798!important;
}



.footer-left, .wp-admin-bar-wp-logo {
    display: none;
}