#masthead, #colophon {
	background-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
    margin: 0;
}

body.woocommerce #primary {
    float: none;
    width: 100%;
}


/* Header */

/* Header Nav */
.menu {
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    margin: auto;
}

.menu-item {
    font-weight: 700;
}

.nav__personal {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    margin-left: auto;
}

.personal__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90px;
    width: 100%;
}
.account__img {
    height: 8px;
}

.account__line {
    height: 20px;
    width: 1px;
    background-color: black;
}

.personal__img {
    height: 20px;
}

/* Footer */
.footer__socials {
    max-width: 205px;
    margin-left: auto;
}

.footer__menu {
    margin-left: 35%;
}

/**/

/**/

/**/

/**/

/**/

/**/

/**/

/* Woocommerce */
.woocommerce-pagination {
    border: none;
    clear: none;
    padding: 0;
}

.storefront-breadcrumb {
    margin: 0;
}

.single-product div.product .woocommerce-product-gallery {
    margin-bottom: 0;
}

.single-product div.product .woocommerce-product-gallery a > img {
    width: 70%;
    margin-left: auto;
}


.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 67%;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    display: none;
}
