#masthead, #colophon {
	background-color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

body.woocommerce #primary {
    float: none;
    width: 100%;
}

a:active, a:hover {
    outline: 0;
    text-decoration: none;
    color: black;
}

/* Header */

/* Header Nav */
.menu {
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    margin: auto;
}

.menu-item {
    font-weight: 700;
}

.nav__personal {
    display: flex;
    justify-content: space-between;
    max-width: 230px;
    margin-left: auto;
}

.personal__account {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90px;
    width: 100%;
}
.account__img {
    height: 8px;
}

.account__line {
    height: 20px;
    width: 1px;
    background-color: black;
}

.personal__img {
    height: 20px;
}


/* Top banners */

.slider__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 50px;
    opacity: .2;
    background-color: black;
    z-index: 1;
    cursor: pointer;
}

.slider__box {
    position: relative;
}

.col-md-8 .slider__box {
    top: -15px;
}

.slider__nav_next {
    top: 0;
    right: 0;
}

.slider__nav_prev {
    top: 0;
    left: 0;
}

.slider__arrow_prev, .slider__arrow_next {
    cursor: pointer;
    height: 30px;
}

.slider__arrow_prev {
    transform: rotate(180deg);
}

/* Footer */
.footer__socials {
    max-width: 205px;
    margin-left: auto;
}

.footer__menu {
    margin-left: 35%;
}

/* Single product */
.single-product div.product .woocommerce-product-gallery {
    margin-bottom: 0;
}

.single-product div.product .woocommerce-product-gallery a > img {
    width: 75%;
    margin-left: auto;
}


.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    display: none;
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-5 .flex-control-thumbs li {
    width: 60%;
}


/* Catalog */

.product__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
}

.onsale {
    position: absolute;
    top: 10px;
    left: 35px;
    background-color: red;
    color: white;
    padding: 3px 5px;
    font-weight: 400;
    opacity: 0.7;
}

.woocommerce-loop-product__title {
    font-size: 18px;
}

.woocommerce-LoopProduct-link, .size-woocommerce_thumbnail {
    width: 100%;
    max-width: 251px;
}

/*.product__attributes {*/
    /*position: relative;*/
    /*bottom: 1px;*/
/*}*/

.attr__buy {
    display: flex;
    flex-direction: column-reverse;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    z-index: 5;
    width: 251px;
    background-color: white;
}

.product__item:hover .attr__buy, .product__item:hover a  {
    height: auto;
    outline: 1px solid #CC4798;
}

.product__item {
    margin-top: 20px;
}

.add_to_cart_button {
    background-color: #CC4798;
    color: white;
}

    /**/

/**/

/**/

/**/

/**/

/* Woocommerce */
.woocommerce-pagination {
    padding: 0;
}

.storefront-breadcrumb {
    margin: 0;
}

.site-main ul.products li.product {
    margin: 0;
    float: none;
}



/* Some fixes */
.form-row {
    display: block;
}

.col-1, .col-2 {
    max-width: 100%;
}


/* Filters */
.woocommerce-result-count, .select2-selection {
    display: none!important;

}

span.select2, .woocommerce-pagination {
    display: none;
}

select.select2-hidden-accessible {
    width: 100%!important;
    height: auto!important;
    position: static!important;
}

.orderby, .dropdown_product_cat, select.select2-hidden-accessible, .price-filter {
    border: none;
    border-bottom: 1px solid black!important;
}

.dropdown_product_cat:focus, .storefront-sorting select:focus {
    outline: none;
}

.storefront-sorting select {
    width: 100%;
}

.widget_price_filter {
    transition: all .4s ease;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 90%;
    z-index: 1;
    background-color: white;
}

.widget_open {
    height: 79px;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
    margin-top: 10px;
}

.button {
    background-color: #CC4798;
}